@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .qr-card {
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  padding: 1rem;
}
body .qr-card .qr-code {
  width: 100%;
  height: 100%;
}
body .qr-card .qr-code img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.6rem;
}
body .qr-card .card-text {
  margin-block: 1rem 1.5rem;
  padding-inline: 0.75rem;
  text-align: center;
}
body .qr-card .card-text h4 {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 1rem;
}
body .qr-card .card-text p {
  font-weight: 400;
  font-size: 15px;
  opacity: 0.6;
}